/* Messages */
.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  /* max-width: 60%; */
}

.left {
  text-align: left;
  align-self: flex-start;
}

.right {
  text-align: right;
  align-self: flex-end;
}

.chat-side {
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}
